@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Poppins',sans-serif;

}

body{
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #060b23;
}

.container{
    position: relative;
}

.container input{
   width: 350px;
   height: 60px;
   font-style: italic;
   font-size: 18px;
   padding: 0 15px;
   border: 2px solid #fff;
   color: #fff;
   outline: none;
   border-radius: 6px;
   background: transparent;
    
}

.container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
    pointer-events: none;
    transition: 0.3s;
}
input:focus{
    border: 2px solid #18ffff;
}

input:focus ~ label, input:valid ~ label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #060b23;
}